<body>
  <main>
    <app-header></app-header>
    <div class="content">
      <div class="content-main">
        <div class="row">
          <form
            class="c-form box-shadow was-validated"
            [formGroup]="employeeForm"
            novalidate
            (ngSubmit)="onSubmit()"
          >
            <ul>
              <li class="title">会員情報編集</li>
              <!-- <li class="box-err">
                  <div class="box-err-content">Hiển thị lỗi chung lại đây</div> 
                </li> -->
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative"
                    >アカウント名:<span class="note-red">*</span></i
                  ></label
                >
                <div class="col-sm col-sm-10">
                  <input
                    id="employeeLoginId"
                    type="text"
                    class="form-control"
                    formControlName="employeeLoginId"
                    pattern="^[a-zA-Z_][a-zA-Z0-9_]*$"
                    [required]="submitted"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="
                      employeeForm.controls['employeeLoginId']?.errors
                        ?.pattern &&
                      employeeForm.controls['employeeLoginId']?.dirty
                    "
                  >
                    [アカウント名]は(a-z, A-Z, 0-9 と
                    _)の桁のみです。最初の桁は数字ではない。
                  </div>
                  <div
                    class="invalid-feedbackCustom"
                    *ngIf="
                      (employeeForm
                        .get('employeeLoginId')
                        ?.hasError('required') &&
                        employeeForm.get('employeeLoginId')?.touched) ||
                      (employeeForm.controls['employeeLoginId']?.errors
                        ?.required &&
                        submitted)
                    "
                  >
                    「アカウント名」を入力してください
                  </div>
                  <div
                    class="invalid-feedbackCustom"
                    *ngIf="
                      (employeeForm.controls['employeeLoginId']?.errors
                        ?.maxlength &&
                        submitted) ||
                      (employeeForm
                        .get('employeeLoginId')
                        ?.hasError('maxlength') &&
                        employeeForm.get('employeeLoginId')?.touched &&
                        !employeeForm.controls['employeeLoginId']?.errors
                          ?.pattern) ||
                      (employeeForm
                        .get('employeeLoginId')
                        ?.hasError('maxlength') &&
                        employeeForm.get('employeeLoginId')?.dirty &&
                        !employeeForm.controls['employeeLoginId']?.errors
                          ?.pattern)
                    "
                  >
                    50桁以内の「アカウント名」を入力してください
                  </div>
                  <div
                    class="invalid-feedbackCustom"
                    *ngIf="
                      (employeeForm
                        .get('employeeLoginId')
                        ?.hasError('checkExists') &&
                        employeeForm.get('employeeLoginId')?.dirty) ||
                      (employeeForm
                        .get('employeeLoginId')
                        ?.hasError('checkExists') &&
                        submitted)
                    "
                  >
                    「アカウント名」は既に存在しています。
                  </div>
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative"
                    >グループ:<span class="note-red">*</span></i
                  ></label
                >
                <div class="col-sm col-sm-10">
                  <select
                    class="form-control"
                    [(ngModel)]="employee.departmentId"
                    formControlName="departmentId"
                    [required]="submitted"
                    (change)="onChangeSelectDepartment($event.target.value)"
                  >
                    <option value="">選択してください</option>
                    <option
                      *ngFor="let department of departments"
                      [value]="department.departmentId"
                    >
                      {{ department.departmentName }}
                    </option>
                  </select>
                  <div
                    class="invalid-feedbackCustom"
                    *ngIf="
                      (this.employeeForm.get('departmentId')?.errors
                        ?.required &&
                        submitted) ||
                      (employeeForm.get('departmentId')?.hasError('required') &&
                        employeeForm.get('departmentId')?.touched) ||
                      (employeeForm.get('departmentId')?.hasError('required') &&
                        employeeForm.get('departmentId')?.dirty)
                    "
                  >
                    「グループ」を入力してください
                  </div>
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative"
                    >氏名:<span class="note-red">*</span></i
                  ></label
                >
                <div class="col-sm col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="employee.employeeName"
                    formControlName="employeeName"
                    [required]="submitted"
                  />
                  <div
                    class="invalid-feedbackCustom"
                    *ngIf="
                      (employeeForm.controls['employeeName']?.errors
                        ?.required &&
                        submitted) ||
                      (employeeForm.get('employeeName')?.hasError('required') &&
                        employeeForm.get('employeeName')?.touched)
                    "
                  >
                    「氏名」を入力してください
                  </div>
                  <div
                    class="invalid-feedbackCustom"
                    *ngIf="
                      (employeeForm.controls['employeeName']?.errors
                        ?.maxlength &&
                        submitted) ||
                      (employeeForm
                        .get('employeeName')
                        ?.hasError('maxlength') &&
                        employeeForm.get('employeeName')?.touched &&
                        !employeeForm.controls['employeeName']?.errors
                          ?.required) ||
                      (employeeForm
                        .get('employeeName')
                        ?.hasError('maxlength') &&
                        employeeForm.get('employeeName')?.dirty &&
                        !employeeForm.controls['employeeName']?.errors
                          ?.required)
                    "
                  >
                    125桁以内の「氏名」を入力してください
                  </div>
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative"
                    >カタカナ氏名:<span class="note-red">*</span></i
                  ></label
                >
                <div class="col-sm col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="employee.employeeNameKana"
                    formControlName="employeeNameKana"
                    [required]="submitted"
                    pattern="^[゠-ヿs]+$"
                  />
                  <div
                    class="invalid-feedbackCustom"
                    *ngIf="
                      (employeeForm.controls['employeeNameKana']?.errors
                        ?.required &&
                        submitted) ||
                      (employeeForm
                        .get('employeeNameKana')
                        ?.hasError('required') &&
                        employeeForm.get('employeeNameKana')?.touched)
                    "
                  >
                    「カタカナ氏名」を入力してください
                  </div>
                  <div
                    class="invalid-feedbackCustom"
                    *ngIf="
                      (employeeForm.controls['employeeNameKana']?.errors
                        ?.maxlength &&
                        submitted) ||
                      (employeeForm
                        .get('employeeNameKana')
                        ?.hasError('maxlength') &&
                        employeeForm.get('employeeNameKana')?.touched &&
                        !employeeForm.controls['employeeNameKana']?.errors
                          ?.pattern) ||
                      (employeeForm
                        .get('employeeNameKana')
                        ?.hasError('maxlength') &&
                        employeeForm.get('employeeNameKana')?.dirty &&
                        !employeeForm.controls['employeeNameKana']?.errors
                          ?.pattern)
                    "
                  >
                    125桁以内の「カタカナ氏名」を入力してください
                  </div>
                  <div
                    class="invalid-feedback"
                    *ngIf="
                      employeeForm.controls['employeeNameKana']?.errors
                        ?.pattern &&
                      employeeForm.controls['employeeNameKana']?.dirty
                    "
                  >
                    「カタカナ氏名」をカタカナで入力してください
                  </div>
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative"
                    >生年月日:<span class="note-red">*</span></i
                  ></label
                >
                <div class="col-sm col-sm-10 d-flex">
                  <div
                    class="input-group date datepicker"
                    data-date-format="dd-mm-yyyy"
                  >
                    <input
                      class="form-control"
                      onkeydown="event.preventDefault()"
                      placeholder="yyyy/MM/dd"
                      bsDatepicker
                      [bsConfig]="{
                        isAnimated: true,
                        dateInputFormat: 'YYYY/MM/DD'
                      }"
                      style="background-image: none"
                      [(ngModel)]="employee.employeeBirthDate"
                      formControlName="employeeBirthDate"
                      [required]="submitted"
                    />
                    <div
                      class="invalid-feedbackCustom"
                      *ngIf="
                        (employeeForm.controls['employeeBirthDate'].invalid &&
                          submitted) ||
                        (employeeForm
                          .get('employeeBirthDate')
                          ?.hasError('required') &&
                          employeeForm.get('employeeBirthDate')?.touched)
                      "
                    >
                      「生年月日」を入力してください
                    </div>
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                  </div>
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative"
                    >メールアドレス:<span class="note-red">*</span></i
                  ></label
                >
                <div class="col-sm col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="employee.employeeEmail"
                    formControlName="employeeEmail"
                    [required]="submitted"
                    pattern="^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$"
                  />
                  <div
                    class="invalid-feedbackCustom"
                    *ngIf="
                      (employeeForm.controls['employeeEmail']?.errors
                        ?.required &&
                        submitted) ||
                      (employeeForm
                        .get('employeeEmail')
                        ?.hasError('required') &&
                        employeeForm.get('employeeEmail')?.touched)
                    "
                  >
                    「メールアドレス」を入力してください
                  </div>
                  <div
                    class="invalid-feedback"
                    *ngIf="
                      employeeForm.controls['employeeEmail']?.errors?.pattern &&
                      employeeForm.controls['employeeEmail']?.dirty
                    "
                  >
                    「メールアドレス」をEmail形式で入力してください
                  </div>
                  <div
                    class="invalid-feedbackCustom"
                    *ngIf="
                      (employeeForm.controls['employeeEmail']?.errors
                        ?.maxlength &&
                        submitted) ||
                      (employeeForm
                        .get('employeeEmail')
                        ?.hasError('maxlength') &&
                        employeeForm.get('employeeEmail')?.touched &&
                        !employeeForm.controls['employeeEmail']?.errors
                          ?.pattern) ||
                      (employeeForm
                        .get('employeeEmail')
                        ?.hasError('maxlength') &&
                        employeeForm.get('employeeEmail')?.dirty &&
                        !employeeForm.controls['employeeEmail']?.errors
                          ?.pattern)
                    "
                  >
                    125桁以内の「カタカナ氏名」を入力してください
                  </div>
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative"
                    >電話番号:<span class="note-red">*</span></i
                  ></label
                >
                <div class="col-sm col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="employee.employeeTelephone"
                    formControlName="employeeTelephone"
                    [required]="submitted"
                    pattern="^[0-9]*$"
                  />
                  <div
                    class="invalid-feedbackCustom"
                    *ngIf="
                      (employeeForm.controls['employeeTelephone']?.errors
                        ?.required &&
                        submitted) ||
                      (employeeForm
                        .get('employeeTelephone')
                        ?.hasError('required') &&
                        employeeForm.get('employeeTelephone')?.touched)
                    "
                  >
                    「電話番号」を入力してください
                  </div>
                  <div
                    class="invalid-feedback"
                    *ngIf="
                      employeeForm.controls['employeeTelephone']?.errors
                        ?.pattern &&
                      employeeForm.controls['employeeTelephone']?.dirty
                    "
                  >
                    「電話番号」は半角で入力してください。
                  </div>
                  <div
                    class="invalid-feedbackCustom"
                    *ngIf="
                      (employeeForm.controls['employeeTelephone']?.errors
                        ?.maxlength &&
                        submitted) ||
                      (employeeForm
                        .get('employeeTelephone')
                        ?.hasError('maxlength') &&
                        employeeForm.get('employeeTelephone')?.touched &&
                        !employeeForm.controls['employeeTelephone']?.errors
                          ?.pattern) ||
                      (employeeForm
                        .get('employeeTelephone')
                        ?.hasError('maxlength') &&
                        employeeForm.get('employeeTelephone')?.dirty &&
                        !employeeForm.controls['employeeTelephone']?.errors
                          ?.pattern)
                    "
                  >
                    50桁以内の「電話番号」を入力してください
                  </div>
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative"
                    >パスワード:<span class="note-red">*</span></i
                  ></label
                >
                <div class="col-sm col-sm-10">
                  <input
                    type="password"
                    class="form-control"
                    formControlName="employeeLoginPassword"
                    [required]="isPassword"
                    (input)="onPasswordChange()"
                  />
                  <div
                    class="invalid-feedbackCustom"
                    *ngIf="
                      (employeeForm
                        .get('employeeLoginPassword')
                        ?.hasError('required') &&
                        submitted) ||
                      (employeeForm
                        .get('employeeLoginPassword')
                        ?.hasError('required') &&
                        employeeForm.get('employeeLoginPassword')?.touched)
                    "
                  >
                    「パスワード」を入力してください
                  </div>
                  <div
                    class="invalid-feedbackCustom"
                    *ngIf="
                      (employeeForm
                        .get('employeeLoginPassword')
                        ?.hasError('minlength') &&
                        employeeForm.controls['employeeLoginPassword']
                          ?.dirty) ||
                      (employeeForm
                        .get('employeeLoginPassword')
                        ?.hasError('maxlength') &&
                        employeeForm.controls['employeeLoginPassword']?.dirty)
                    "
                  >
                    「パスワード」を8＜＝桁数、＜＝50桁で入力してください
                  </div>
                </div>
              </li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative">パスワード（確認）:</i></label
                >
                <div class="col-sm col-sm-10">
                  <input
                    type="password"
                    class="form-control"
                    formControlName="employeeRePassword"
                    [required]="isPassword"
                    (input)="onPasswordChange()"
                  />
                  <div
                    class="invalid-feedbackCustom"
                    *ngIf="
                      (employeeForm
                        .get('employeeRePassword')
                        ?.hasError('required') &&
                        submitted) ||
                      (employeeForm
                        .get('employeeRePassword')
                        ?.hasError('required') &&
                        employeeForm.controls['employeeLoginPassword']?.dirty)
                    "
                  >
                    「パスワード（確認）」を入力してください
                  </div>
                  <div
                    class="invalid-feedbackCustom"
                    *ngIf="
                      (employeeForm
                        .get('employeeRePassword')
                        ?.hasError('validateMismatch') &&
                        employeeForm.controls['employeeRePassword']?.dirty) ||
                      (employeeForm
                        .get('employeeRePassword')
                        ?.hasError('validateMismatch') &&
                        submitted) ||
                      (employeeForm
                        .get('employeeLoginPassword')
                        ?.hasError('validateMismatch') &&
                        employeeForm.controls['employeeLoginPassword']?.dirty)
                    "
                  >
                    「パスワード（確認）」が不正です。
                  </div>
                </div>
              </li>
              <li class="title mt-12"><a href="#!">日本語能力</a></li>
              <li class="form-group row d-flex">
                <label class="col-form-label col-sm-2"
                  ><i class="relative">資格:</i></label
                >
                <div class="col-sm col-sm-10">
                  <select
                    class="form-control"
                    [(ngModel)]="employee.certificationId"
                    formControlName="certificationId"
                    (change)="onChangeSelectCertification($event.target.value)"
                  >
                    <option value="">選択してください</option>
                    <option
                      *ngFor="let certification of certifications"
                      [value]="certification.certificationId"
                    >
                      {{ certification.certificationName }}
                    </option>
                  </select>
                </div>
              </li>
              <li class="form-group row d-flex">
                <label
                  class="col-form-label col-sm-2"
                  *ngIf="isCertification == false; else startDate"
                  ><i class="relative">資格交付日:</i></label
                >
                <ng-template #startDate>
                  <label class="col-form-label col-sm-2">
                    <i class="relative"
                      >資格交付日:<span class="note-red">*</span></i
                    ></label
                  >
                </ng-template>
                <div class="col-sm col-sm-10">
                  <div
                    class="input-group date datepicker"
                    data-date-format="dd-mm-yyyy"
                  >
                    <input
                      class="form-control"
                      placeholder="yyyy/MM/dd"
                      bsDatepicker
                      [bsConfig]="{
                        isAnimated: true,
                        dateInputFormat: 'YYYY/MM/DD'
                      }"
                      style="background-image: none"
                      [required]="isCertification"
                      formControlName="startDate"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="
                        (employeeForm.controls['startDate']?.errors?.required &&
                          isCertification) ||
                        submitted
                      "
                    >
                      「資格交付日」を入力してください
                    </div>
                    <span class="input-group-addon"
                      ><i class="glyphicon glyphicon-calendar"></i
                    ></span>
                  </div>
                </div>
              </li>
              <li class="form-group row d-flex">
                <label
                  class="col-form-label col-sm-2"
                  *ngIf="isCertification == false; else endDate"
                  ><i class="relative">失効日:</i></label
                >
                <ng-template #endDate>
                  <label class="col-form-label col-sm-2">
                    <i class="relative"
                      >失効日:<span class="note-red">*</span></i
                    ></label
                  >
                </ng-template>
                <div class="col-sm col-sm-10">
                  <div
                    class="input-group date datepicker"
                    data-date-format="dd-mm-yyyy"
                  >
                    <input
                      class="form-control"
                      placeholder="yyyy/MM/dd"
                      bsDatepicker
                      [bsConfig]="{
                        isAnimated: true,
                        dateInputFormat: 'YYYY/MM/DD'
                      }"
                      style="background-image: none"
                      [required]="isCertification"
                      formControlName="endDate"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="
                        (employeeForm.controls['endDate']?.errors?.required &&
                          isCertification) ||
                        (employeeForm.controls['endDate']?.errors?.required &&
                          submitted)
                      "
                    >
                      「失効日」を入力してください
                    </div>
                    <span class="input-group-addon"
                      ><i class="glyphicon glyphicon-calendar"></i
                    ></span>
                  </div>
                  <div
                    class="invalid-feedbackCustom"
                    *ngIf="
                      (employeeForm.get('endDate')?.hasError('validateDate') &&
                        employeeForm.controls['endDate']?.dirty) ||
                      (employeeForm
                        .get('startDate')
                        ?.hasError('validateDate') &&
                        employeeForm.controls['startDate']?.dirty)
                    "
                  >
                    「失効日」は「資格交付日」より未来の日で入力してください。
                  </div>
                </div>
              </li>
              <li class="form-group row d-flex">
                <label
                  class="col-form-label col-sm-2"
                  *ngIf="isCertification == false; else score"
                  ><i class="relative">点数:</i></label
                >
                <ng-template #score>
                  <label class="col-form-label col-sm-2">
                    <i class="relative"
                      >点数:<span class="note-red">*</span></i
                    ></label
                  >
                </ng-template>
                <div class="col-sm col-sm-10">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="employee.score"
                    formControlName="score"
                    [required]="isCertification"
                    pattern="^[0-9]*$"
                    maxlength="4"
                  />
                  <div
                    class="invalid-feedbackCustom"
                    *ngIf="
                      (employeeForm.controls['score']?.errors?.required &&
                        isCertification) ||
                      (employeeForm.controls['score']?.errors?.required &&
                        submitted) ||
                      (employeeForm.get('score')?.hasError('required') &&
                        employeeForm.controls['score']?.dirty)
                    "
                  >
                    「点数」を入力してください
                  </div>
                  <div
                    class="invalid-feedback"
                    *ngIf="
                      (employeeForm.controls['score']?.errors?.pattern &&
                        isCertification) ||
                      (employeeForm.controls['score']?.errors?.pattern &&
                        employeeForm.controls['score']?.dirty)
                    "
                  >
                    「点数」は半角で入力してください
                  </div>
                </div>
              </li>
              <li class="form-group row d-flex">
                <div class="btn-group col-sm col-sm-10 ml">
                  <button
                    type="submit"
                    class="btn btn-primary btn-sm"
                    style="cursor: pointer"
                  >
                    確認
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary btn-sm"
                    (click)="onNavigateWithConditions()"
                  >
                    戻る
                  </button>
                </div>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </main>
</body>
