<main>
  <div class="container">
    <app-header></app-header>
    <div class="content">
      <div class="content-main">
        <div class="search-memb">
          <h1 class="title">
            会員名称で会員を検索します。検索条件無しの場合は全て表示されます。
          </h1>
          <form class="c-form" (submit)="onSubmit($event)">
            <ul class="d-flex">
              <li class="form-group row">
                <label class="col-form-label">氏名:</label>
                <div class="col-sm">
                  <input
                    type="text"
                    id="employeeName"
                    [(ngModel)]="employee.employeeName"
                    name="employeeName"
                  />
                </div>
              </li>
              <li class="form-group row">
                <label class="col-form-label">グループ:</label>
                <div class="col-sm">
                  <select
                    [(ngModel)]="employee.departmentId"
                    name="departmentId"
                  >
                    <option value="">全て</option>
                    <option
                      *ngFor="let department of departments"
                      [value]="department.departmentId"
                    >
                      {{ department.departmentName }}
                    </option>
                  </select>
                </div>
              </li>
              <li class="form-group row">
                <div class="btn-group">
                  <button type="submit" class="btn btn-primary btn-sm">
                    検索
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary btn-sm"
                    (click)="onAddEmployee()"
                  >
                    新規追加
                  </button>
                </div>
              </li>
            </ul>
          </form>
        </div>
        <div class="row row-table">
          <div *ngIf="employees.length === 0">
            検索条件に該当するユーザが見つかりません。
          </div>
          <div class="css-grid-table box-shadow">
            <div class="css-grid-table-header">
              <div>ID</div>
              <div>
                <a
                  class="aHrefCustom"
                  (click)="
                    onSortChange(
                      'ord_employee_name',
                      sortName === 'asc' ? 'desc' : 'asc'
                    )
                  "
                >
                  <span *ngIf="sortName == 'asc'">氏名 ▲▽</span>
                  <span *ngIf="sortName == 'desc'">氏名 ▼△</span>
                </a>
              </div>
              <div>生年月日</div>
              <div>グループ</div>
              <div>メールアドレス</div>
              <div>電話番号</div>
              <div>
                <a
                  class="aHrefCustom"
                  (click)="
                    onSortChange(
                      'ord_certification_name',
                      sortCertificateName === 'asc' ? 'desc' : 'asc'
                    )
                  "
                >
                  <span *ngIf="sortCertificateName == 'asc'"
                    >日本語能力 ▲▽</span
                  >
                  <span *ngIf="sortCertificateName == 'desc'"
                    >日本語能力 ▼△</span
                  >
                </a>
              </div>
              <div>
                <a
                  class="aHrefCustom"
                  (click)="
                    onSortChange(
                      'ord_end_date',
                      sortDirection === 'asc' ? 'desc' : 'asc'
                    )
                  "
                >
                  <span>失効日 ▲▽</span>
                </a>
              </div>
              <div>点数</div>
            </div>
            <div
              class="css-grid-table-body"
              *ngFor="
                let emp of employees
                  | paginate
                    : {
                        itemsPerPage: pageSize,
                        currentPage: currentPage,
                        totalItems: totalEmployees
                      }
              "
            >
              <div class="bor-l-none">
                <a
                  (click)="onViewEmployee(emp.employeeId)"
                  class="customIdLink wrapWord"
                  >{{ emp.employeeId }}</a
                >
              </div>
              <div class="wrapWord"  >{{ emp.employeeName }}</div>
              <div class="wrapWord">
                {{ emp.employeeBirthDate }}
              </div>
              <div class="wrapWord">{{ emp.departmentName }}</div>
              <div class="wrapWord">{{ emp.employeeEmail }}</div>
              <div class="wrapWord">
                {{ emp.employeeTelephone }}
              </div>
              <div class="wrapWord">
                {{ emp.certificationName }}
              </div>
              <div class="wrapWord">{{ emp.endDate }}</div>
              <div class="wrapWord">{{ emp.score }}</div>
            </div>
          
            <div class="pagin">
              <pagination-controls 
                maxSize="5"
                directionLinks="true"
                autoHide="true"
               
                nextLabel=""
                previousLabel=""
                (pageChange)="handlePageChange($event)"
                (pageBoundsCorrection)="handlePageChange($event)"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</main>
